/* Overriding flexboxgrid.css library*/
.container-fluid {
    padding: 0;
}

header {
    width: 100%;
    height: 45vh;
    background: black;
    color: white !important;
    text-transform: uppercase;

}

header .logo-wrapper {
    background-image: url(../assets/logo-white.png);
    background-size: contain;
    height: 37vh;
    background-repeat: no-repeat;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
}

.no-margin-top {
    margin-top: 0;
}